name: test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go version
      - name: Go vet
        run: make vet
      - name: Unit Test
        run: make unit-test
      - name: Example Test
        run: make example-test
